<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creche Madre Mazzarello</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link rel="shortcut icon" href="../img/icone.png" type="image/x-icon" />

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Abas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="/">Início</a>
            </li>
            <li class="nav-item px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Informações
                <span class="sr-only">(current)</span>
              </a>
            </li>
           
            <li class="nav-item active px-lg-4">
              <a class="nav-link text-uppercase text-expanded" href="store.html">Agenda</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br>
    
    <h1 class="site-heading text-center text-white">
      <span class="site-heading-upper text-primary mb-3">Creche Madre Mazzarello</span>
      <span class="site-heading-lower">Atividades com Crianças</span>
    </h1>

    
  

    <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper"></span>
                  <span class="section-heading-lower">Atividades Realizadas</span>
                </h2>
                <p>Clique nos dias abaixo para vizualizar a tabela com as atividaes do dia!</p>
                <p>Caso tenha qualquer dúvida sobre horários ou atividades você sempre pode voltar a tela inicial e nos mandar uma mensagem!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    

<div class="tab">
  <button id="butao" class="tablinks" onclick="openCity(event, 'Segunda')">Segunda</button>
  <button id="butao" class="tablinks" onclick="openCity(event, 'Terca')">Terça</button>
  <button id="butao" class="tablinks" onclick="openCity(event, 'Quarta')">Quarta</button>
  <button id="butao" class="tablinks" onclick="openCity(event, 'Quinta')">Quinta</button>
  <button id="butao" class="tablinks" onclick="openCity(event, 'Sexta')">Sexta</button>
</div>


<div id="Atoa" class="tabcontent">
  <section class="page-section cta">
  </br> </br>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Atividades do Dia</span>
              <span class="ection-heading-lower">Segunda-Feira</span>
            </h2>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              <li class="list-unstyled-item list-hours-item d-flex">
                7:00 - 7:30
                <span class="ml-auto">Acolhida e Oração</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                7:30 - 9:30
                <span class="ml-auto">Atividades</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                9:30 - 12:00
                <span class="ml-auto">Cochilo</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                12:00 - 13:00
                <span class="ml-auto">Almoço</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                13:00 - 14:00
                <span class="ml-auto">Gincanas</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                14:00 - 16:00
                <span class="ml-auto">Cochilo</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                16:00
                <span class="ml-auto">Despedida</span>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </section>
</div>






<div id="Segunda" class="tabcontent">
  
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-autop">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Atividades do Dia</span>
              <span class="ection-heading-lower">Segunda-Feira</span>
            </h2>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              <li class="list-unstyled-item list-hours-item d-flex">
                7:00 - 7:30
                <span class="ml-auto">Acolhida e Oração</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                7:30 - 9:30
                <span class="ml-auto">Atividades</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                9:30 - 12:00
                <span class="ml-auto">Cochilo</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                12:00 - 13:00
                <span class="ml-auto">Almoço</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                13:00 - 14:00
                <span class="ml-auto">Gincanas</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                14:00 - 16:00
                <span class="ml-auto">Cochilo</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                16:00
                <span class="ml-auto">Despedida</span>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  
</div>

<div id="Terca" class="tabcontent">
  
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Atividades do Dia</span>
              <span class="ection-heading-lowe">Terça-Feira</span>
            </h2>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              <li class="list-unstyled-item list-hours-item d-flex">
                7:00 - 7:30
                <span class="ml-auto">Acolhida e Oração</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                7:30 - 9:30
                <span class="ml-auto">Atividades</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                9:30 - 12:00
                <span class="ml-auto">Cochilo</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                12:00 - 13:00
                <span class="ml-auto">Almoço</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                13:00 - 14:00
                <span class="ml-auto">Gincanas</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                14:00 - 16:00
                <span class="ml-auto">Cochilo</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                16:00
                <span class="ml-auto">Despedida</span>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  
</div>

<div id="Quarta" class="tabcontent">
  
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Atividades do Dia</span>
              <span class="section-heading-lowe">Quarta-Feira</span>
            </h2>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              <li class="list-unstyled-item list-hours-item d-flex">
                Sunday
                <span class="ml-auto">Closed</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Monday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Tuesday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Wednesday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Thursday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Friday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Saturday
                <span class="ml-auto">9:00 AM to 5:00 PM</span>
              </li>
            </ul>
          
          </div>
        </div>
      </div>
    </div>
  
</div>

<div id="Quinta" class="tabcontent">
  
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Atividades do Dia</span>
              <span class="section-heading-lowe">Quinta-Feira</span>
            </h2>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              <li class="list-unstyled-item list-hours-item d-flex">
                Sunday
                <span class="ml-auto">Closed</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Monday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Tuesday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Wednesday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Thursday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Friday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Saturday
                <span class="ml-auto">9:00 AM to 5:00 PM</span>
              </li>
            </ul>
           
          </div>
        </div>
      </div>
    </div>
  
</div>

<div id="Sexta" class="tabcontent">
  
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-5">
              <span class="section-heading-upper">Atividades do Dia</span>
              <span class="section-heading-lowe">Sexta-Feira</span>
            </h2>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
              <li class="list-unstyled-item list-hours-item d-flex">
                Sunday
                <span class="ml-auto">Closed</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Monday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Tuesday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Wednesday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Thursday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Friday
                <span class="ml-auto">7:00 AM to 8:00 PM</span>
              </li>
              <li class="list-unstyled-item list-hours-item d-flex">
                Saturday
                <span class="ml-auto">9:00 AM to 5:00 PM</span>
              </li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  
</div>


    

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Creche Madre Mazarrello 2019</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

  <style>
    body {font-family: Arial;}
    
    /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgba(230,167,86,.9);
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: rgba(230,167,86,.9);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 25px;
  transition: 0.3s;
  font-size: 17px;
  text-align: center;
}

#butao{
  text-align: center;
}

.tablinks{
  text-align: center;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: rgb(255, 255, 255);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgba(228, 204, 172, 0.9);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: antiquewhite;
}
</style>

  <!-- Script to highlight the active date in the hours list -->
  <script>
    $('.list-hours li').eq(new Date().getDay()).addClass('today');
  </script>
  <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>

</html>
